/* Write your CSS here! */
body {
    width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	background-color: #999;
	font-size: 62.5%;

}
footer, header, main {
	background-color: #ddd;
	font-size: 1.6em;
}
header {
	padding: 1.875em 0;
}

h2{
    font-size: 30px;
}

#mainHeading{
    color: red;
text-shadow: rgb(0, 0, 0) 4px 3px 0px;
text-align: center;
font-style: italic;

}

#author {
    font-style: italic;

}

.funParagraph, #testP{
    color:green;
    font-size: 30px;
}

img{

        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
      }
#ups{
    color:brown;
    font-size: 30px;
}
#walmart{
    color: blue;
    font-size: 30px;
}
#amazon{
    color: navy;
    font-size: 30px;
}